
<% @User.each do |user| %>

<div class="container">

    <div class="row">
        <div class="col-sm-6"> 
            <%= link_to user.name, user %>
            <%= user.name %> - <%= user.age %> <br>
            <%= user.email %> <br>
        </div>
    </div>

    <div class="col-sm-12 posts">
        <div class="page-header"> <h3> <%= pluralize(user.posts.count, "Post") %> </h3> </div>
         <%= render partial: 'shared/post', collection: user.posts %>
    </div>

</div>

<% end %>